<div class="tabcontent" id="Author">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Data Nasc.</th>
      <th>Status</th>
      <th><a class="button is-primary" href="/newUser">+</a></th>
    </tr> 

    <tr>
    {{#users}}
      <td>{{_id}}</td>
      <td>{{nome}}</td>
      <td>{{sobrenome}}</td>
      <td>{{email}}</td>
      <td>{{cpf}}</td>
      <td>{{telefone}}</td>
      <td>{{data}}</td>
      <td>{{status}}</td>
      <td>
        <a class="button is-info" href="/edit/{{_id}}">Editar</a>
        <a class="button is-danger" href="/delete/{{_id}}" onclick="return confirm('Tem certeza que deseja excluir este usuario?');">Deletar</a>
      </td>
    </tr>
    {{/users}}
  </table>
</div>
